@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <br /><br />
        <legend>Log In</legend>
        <form>

            <label>Username</label>
            <input type="text" class="form-control" />

            <br />
            <label>Password</label>
            <input type="password" class="form-control" />

            <br />
            <input type="submit" class="btn btn-primary" />
            <div class="g-signin2 pull-right" data-onsuccess="onSignIn"></div>

        </form>


    </div>
</div>