@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <form action="./Home/DoLogin" method="post" class="well col-lg-8 col-lg-offset-2" style="margin-top:60px;">
        
        <label>Username</label>
        <input type="text" name="username" value="" class="form-control" />

        <label>Password</label>
        <input type="password" name="password" value="" class="form-control" />

        <input type="submit" name="" value="Log In" class="btn btn-primary" />
    </form> 
</div>